[submodule "externals/ResolutionBuddy"]
	path = externals/ResolutionBuddy
	url = https://github.com/dmanning23/ResolutionBuddy
[submodule "externals/BasicPrimitiveBuddy"]
	path = externals/BasicPrimitiveBuddy
	url = https://github.com/dmanning23/BasicPrimitiveBuddy.git
