<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MatrixExtensions" version="1.0.3" targetFramework="monoandroid71" />
  <package id="MonoGame.Framework.Android" version="3.6.0.1625" targetFramework="monoandroid71" />
  <package id="Plugin.CurrentActivity" version="2.1.0.4" targetFramework="monoandroid80" />
  <package id="PrimitiveBuddy" version="1.0.4" targetFramework="monoandroid71" />
  <package id="RandomExtensions.dmanning23" version="1.0.6" targetFramework="monoandroid80" />
  <package id="ResolutionBuddy" version="1.0.17" targetFramework="monoandroid80" />
  <package id="Vector2Extensions" version="1.0.11" targetFramework="monoandroid80" />
  <package id="Xam.Plugin.DeviceInfo" version="4.0.0.13" targetFramework="monoandroid80" />
</packages>