<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GameTimer.WindowsGL" version="1.0.1" targetFramework="net40" />
  <package id="MonoGame.Framework.WindowsGL" version="3.5.0.1678" targetFramework="net40" />
  <package id="PrimitiveBuddy.WindowsGL" version="1.0.2" targetFramework="net40" />
  <package id="ResolutionBuddy.WindowsGL" version="1.0.0" targetFramework="net40" />
</packages>