<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GameTimer.Android" version="1.0.4" targetFramework="monoandroid42" />
  <package id="MonoGame.Framework.Android" version="3.5.0.1678" targetFramework="monoandroid42" />
  <package id="PrimitiveBuddy.Android" version="1.0.2" targetFramework="monoandroid42" />
  <package id="ResolutionBuddy.Android" version="1.0.0" targetFramework="monoandroid42" />
</packages>